{% load static %}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>CATÁLOGO</h2>
        <h3>Nuestros aliados</h3>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Todos</li>
            <li data-filter=".filter-Comidasrapidas">Comidas Rapidas</li>
            <li data-filter=".filter-Reposterias">Reposteria</li>
            <li data-filter=".filter-Restaurante">Restaurante</li>
            <li data-filter=".filter-Heladerias">Heladeria</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/costillasdej.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/costillasdej.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="costillasdej"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/loscostes.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/loscostes.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="los costes"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/mandingas.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/mandingas.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/avellanas.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/avellanas.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/alpus.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/alpus.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/horizontechino.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/horizontechino.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/brasas.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/brasas.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/caserosdoñamartha.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/caserosdoñamartha.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/jhonperrada.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/jhonperrada.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/pizzaplaza" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/salidapicnic" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/burgots.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/burgots.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/los mellos.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/los mellos.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/makau" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Comidasrapidas filer-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/losberriondos" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/pataconeselcristo.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/pataconeselcristo.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/laultimaestacion" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/jabibi" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->