{% load static %}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Catálogo</h2>
        <h3>Nuestros aliados</h3>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Todos</li>
            <li data-filter=".filter-Comidasrapidas">Comidas Rápidas</li>
            <li data-filter=".filter-Reposterias">Repostería</li>
            <li data-filter=".filter-Restaurante">Restaurante</li>
            <li data-filter=".filter-Heladerias">Heladería</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static\img\costillasdej.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="#" class="portfolio-lightbox" title="costillasdej"><i class="bx bx-plus"></i></a>
              <a href="{% url 'pdf' pdf_name='ejemplo.pdf' %}" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static\img\loscostes.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\loscostes.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="los costes"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/mandingas.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/mandingas.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Mandingas"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/avellanas.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/avellanas.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Avellanas"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/alpus.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/alpus.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Alpus"><i class="bx bx-plus"></i></a>
              <a href="{% url 'pdf' pdf_name='alpus.pdf' %}" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>


        <div class="col-lg-2 col-md-4 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/brasas.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/brasas.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Brasas"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static/img/jhonperrada.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/jhonperrada.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Jhon Perrada"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/burgots.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/burgots.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Burgots"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static/img/los mellos.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static/img/los mellos.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Los Mellos"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static\img\berriondos.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\berriondos.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Los Berriondos"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static\img\Battiato.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\Battiato.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Battiato"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas filter-Heladerias">
          <div class="portfolio-wrap">
            <img src="static\img\Bresia.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\Bresia.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Brescia"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static\img\Burguerltc.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\Burguerltc.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Burguer LTC"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static\img\caserosmarta.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\caserosmarta.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Caseros Doña Marta"><i class="bx bx-plus"></i></a>
              <a href="{% url 'pdf' pdf_name='caserosmarta.pdf' %}" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Heladerias">
          <div class="portfolio-wrap">
            <img src="static\img\Dulcebendicion.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\Dulcebendicion.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dulce Bendición"><i class="bx bx-plus"></i><a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static\img\Fatherpapas.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\Fatherpapas.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The Father Papas"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Restaurante">
          <div class="portfolio-wrap">
            <img src="static\img\horizonte.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\horizonte.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Horizonte Chino"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Restaurante filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static\img\Makau.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\Makau.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Makau"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static\img\salidapicnic.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\salidapicnic.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Reposterias">
          <div class="portfolio-wrap">
            <img src="static\img\tortasgordo.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\tortasgordo.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static\img\patacondelcristo.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\patacondelcristo.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="La Ultima Estación"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="Patacon Del Cristo"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 portfolio-item filter-Comidasrapidas">
          <div class="portfolio-wrap">
            <img src="static\img\pizzaplaza.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="static\img\pizzaplaza.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="La Ultima Estación"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="Patacon Del Cristo"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Portfolio Section -->