{% load static %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>¿Quiénes Somos?</h2>
        <p>Go! es una empresa de servicios fundada en mayo de 2020 en San Cristóbal, Medellín, Antioquia debido a la situación de pandemia que impedía salir de casa. Ofrece una plataforma de domicilios y atención al cliente enfocada en las zonas rurales, donde los servicios son limitados y costosos. Con más de 7.000 clientes, actualmente opera a través del aplicativo WhatsApp, pero su crecimiento ha generado un desafío en el control de los pedidos y la prevención del colapso de la plataforma. A pesar de esto, la empresa se compromete a mejorar su servicio y satisfacción del cliente.</p>
      </div>

    </div>
  </section><!-- End About Section -->