{% load static %}

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Servicios</h2>
        <h3>Nuestros Servicios</h3>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-box-seam-fill"></i></div>
          <h4 class="title"><a href="">Recoger y enviar encomiendas</a></h4>
          <p class="description">Recogemos tus encomiendas y las llevamos hasta el lugar que nos indiques. Recuerda que no cargamos personas, bultos o paquetes que sean dificiles de transportar en motocicleta.</p>
        </div>

        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-shop"></i></div>
          <h4 class="title"><a href="">Ajustes de mercado</a></h4>
          <p class="description">Podemos ir alguno de los supermercados que hay en el corregimiento.Ten en cuenta que no pueden ser más de 15 productos.</p>
        </div>

        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-newspaper"></i></div>
          <h4 class="title"><a href="">Pago de factura </a></h4>
          <p class="description">Pagamos tu factura con tan solo el número de referencia, número de contrato y documento.</p>
        </div>

        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-cash-coin"></i></div>
          <h4 class="title"><a href="">Cajero en Casa </a></h4>
          <p class="description">Transfieres el valor que deseas obtener a la cuenta que se te indique, luego de hacer esto nuestro repartidor encargado te llevará el dinero en efectivo.</p>
        </div>

        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Pedimos por Ti </a></h4>
          <p class="description">Haces tu pedido a nuestra plataforma nosotros nos encargaremos del resto, recuerda ser muy específico para no tener inconvenientes con tu servicio.</p>
        </div>
        
      </div>

    </div>
  </section><!-- End Services Section -->
  