{% load static %}

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Servicios</h2>
        <h3>Nuestros Servicios</h3>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-box-seam-fill"></i></div>
          <h4 class="title"><a href="">Recoger y enviar encomiendas</a></h4>
          <p class="description">Recogemos en el lugar que requieras y llevamos a el lugar que desee.</p>
        </div>

        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-shop"></i></div>
          <h4 class="title"><a href="">Ajustes de mercado</a></h4>
          <p class="description">Puedes solicitar la compra de algunos productos de mercado en los supermercados que estan en nuestro corregimiento o de algun otro establecimiento.</p>
        </div>

        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-newspaper"></i></div>
          <h4 class="title"><a href="">Pago de factura </a></h4>
          <p class="description">Pagamos tu factura con tan solo el numero de referencia o numero de contrato.</p>
        </div>

        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-cash-coin"></i></div>
          <h4 class="title"><a href="">Cajero en Casa </a></h4>
          <p class="description">Hablas a nuestra plataforma y nosotros te llevamos el dinero y tu solamente tranfieres a la cuenta de nuestro repartidor.</p>
        </div>

        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Pedimos por Ti </a></h4>
          <p class="description">Te comunicas con nuestra plataforma y pedimos por ti al establecimiento el producto que desees y te lo llevamos hasta tu casa.</p>
        </div>
        
      </div>

    </div>
  </section><!-- End Services Section -->
  