{% load static %}
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Testimonios</h2>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              "¡Esta empresa de domicilios es increíble! Siempre llegan a tiempo, son amables y educados, y entregan todo en perfectas condiciones. ¡Recomendaría sus servicios a cualquier persona que necesite entrega a domicilio!"              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="static/img/ramo.webp" class="testimonial-img" alt="">
            <h3>Diana Velez</h3>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              "Desde que empecé a usar los servicios de esta empresa de domicilios, mi vida se ha vuelto mucho más fácil. Ya no tengo que preocuparme por salir de casa para recoger paquetes o hacer compras. Siempre llegan a tiempo y me mantienen informado sobre el estado de mi entrega. ¡Excelente servicio al cliente!"
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Restrepo</h3>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              "Estoy muy impresionado con la rapidez y eficiencia de esta empresa de domicilios. Envié un paquete urgente a mi familia en otra ciudad y llegó al día siguiente sin ningún problema. ¡Increíble! Definitivamente volveré a utilizar sus servicios en el futuro."
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Julio Ortiz</h3>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->