{% extends 'layout/baseform.html' %}
{% load static %}
{% block titulo %}Actualizar usuario {% endblock %}
{% block contenido %}

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <script>
        Swal.fire({
          title: "{{ message }}",
          icon: 'success'
        }).then(function(){
          window.location.href = "{% url 'home' %}";
        })
      </script>
    {% elif message.tags == 'error' %}
      <script>
        Swal.fire({
          title: "{{ message }}",
          icon: 'error'
        })
      </script>
    {% endif %}
  {% endfor %}
{% endif %}

<div class="container_reg" style="width: 430px">
  <form method="POST" action="">
    <br/>
    <h3>Actualizar datos</h3>
    {% csrf_token %} {{form.as_table}}
    <br />
    <button  type="submit" class="boton">
      Enviar
    </button>
    <a id="boton1" href="{% url 'home' %}" class="btn btn-link" >Cancelar </a><br />
  </form>
</div>
{% endblock %}