{% extends 'layout/base_form.html' %}
{% block titulo %}Crear Usuario{% endblock  %}



{% block contenido %}
<div class="container_reg">
    <div class="card-title text-center mb-8 fw-dark fs-8">
    <img src="" alt="">
    <form method="POST" action=""><br>
    <h3>Registro de Usuario</h3>
    {% csrf_token %}
    {{form.as_table}}
    <br>
    <button type="submit" class ="boton">Enviar</button>
    <a href="{% url 'index' %}" class ="boton">Cancelar</a>
    
    </form>
</div>
</div>
{% endblock  %}

