{% extends 'layout/baseform.html' %} 
{% load static %} 
{% block titulo %}Inicio de sesión{% endblock %}
 {% block contenido %}

<div class="contain_login">
        <form class="form" method="post">
          <h2>Iniciar Sesión</h2>
          {% csrf_token %} 
          {{ form.as_table }}
          <button type="submit" class="boton">Ingresar</button>
        </form>
        <a href="{% url 'crearU' %}">¿No te encuentras registrado?</a>
        <br>
        <a href="{% url 'index' %}">Volver</a>
</div>
{% if request.user.is_authenticated%}
<script>
  window.addEventListener('load',function(){
    fetch("{% url 'logout' %}",{method:"GET", credentials:"same-origin"})
  })
</script>
{% endif %}
{% endblock %}
