{% extends 'layout/base3.html' %}
{% load static %}


{% block contenido %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-6 mt-5">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Restablecer Contraseña</h2>
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                <strong>Oops!</strong> Hubo un problema con los datos ingresados. Por favor, intente de nuevo.
              </div>
            {% endif %}
            <form method="post">
              {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
                <label for="floatingInput">Correo Electrónico</label>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-block mt-4" style="background-color: #E74C3C; color: white;">Restablecer Contraseña</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
