{% extends 'layout/Disenoadmin/baseadmin.html' %}
{% load static %}

{% block contenido %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
function mostrarSweetAlert(id) {
  Swal.fire({
    title: 'Elige una opción',
    showDenyButton: true,
    showCancelButton: true,
    confirmButtonText: `Asignar Nuevamente`,
    cancelButtonText:`Atrás`,
    denyButtonText: `Cancelar Servicio`,

    customClass: {
        confirmButton: 'btn btn-dark mx-1',
        denyButton: 'btn btn-secondary mx-1',
        cancelButton: 'boton mx-1',
    },
    buttonsStyling: false,
  }).then((result) => {
    /* Comprueba si se ha hecho clic en el botón de confirmación */
    if (result.isConfirmed) {
      window.location.href = '/reasignacion/'+id;
        console.log("Click en Asignar" + id)
    } else if (result.isDenied) {
        console.log("Click en Cancelar" + id)
        Swal.fire({
          title: '¿Estás seguro de que quieres cancelar el servicio?',
          showDenyButton: true,
          showCancelButton: false,
          confirmButtonText: `Sí, cancelar`,
          denyButtonText: `Cancelar`,
          customClass: {
              confirmButton: 'btn btn-danger mx-1',
              denyButton: 'btn btn-secondary mx-1',
          },
          buttonsStyling: false,
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '/cancelarservicioasignado/'+ id;
            console.log("Confirmado eliminar" + id)
          } else if (result.isDenied) {
            console.log("Cancelar eliminación" + id)
          }
        });
    }
  });
}
</script>

<div class="contain_admin">
    
  <div class="table-responsive">
    <table class="table table-striped">
      <h3>Pedidos Asignados</h3>
      <thead>
        <tr>
          <th scope="col">Fecha y Hora</th>
          <th scope="col">Tipo</th>
          <th scope="col">Sector</th>
          <th scope="col">Dirección</th>
          <th scope="col">Celular</th>
          <th scope="col">Descripción</th>
          <th scope="col">Nombre</th>
          <th scope="col">Repartidor</th>
          <th scope="col">$</th>
        </tr>
      </thead>
      <tbody>
        {% for c in page_obj %}
        <tr>
          <td>{{ c.fecha_hora }}</td>
          <td><button  id="boton1" class="btn btn-link " onclick="mostrarSweetAlert({{ c.id }})">{{ c.tipo }}</button></td>
          <td>{{ c.ruta }}</td>
          <td>{{ c.direccion }}</td>
          <td>{{ c.celular }}</td>
          <td>{{ c.descripcion }}</td>
          <td>{{ c.User }}</td>
          <td>{{ c.Repartidor }}</td>
          <td>{{ c.ruta.valor }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Primera</a>
        <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Anterior</a>
      {% endif %}

      <span class="current-page">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente &rsaquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>


{% endblock contenido %}
