{% extends 'layout/Disenoadmin/baseadmin.html' %}
{% load static %}

{% block contenido %}

<div class="contain_admin">
    
  <div class="table-responsive">
    <form method="GET" action="{% url 'realizadoA' %}">
      <h3>Pedidos Realizados</h3>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="fecha_inicial">Fecha Inicial:</label>
          <input type="date" class="form-control" name="fecha_inicial" value="{{ request.GET.fecha_inicial }}">
        </div>
        <div class="col-md-3 mb-3">
          <label for="fecha_final">Fecha Final:</label>
          <input type="date" class="form-control" name="fecha_final" value="{{ request.GET.fecha_final }}">
        </div>
        <div class="col-md-3 mb-3">
          <label for="Repartidor">Repartidor:</label>
          <input type="text" class="form-control" name="Repartidor" value="{{ request.GET.Repartidor }}">
        </div>
        <div class="total-valor col-md-3 mb-3" style="text-align: center ; color:#E74C3C ">
          <strong><span style="font-size: large;">Total: ${{ total_valor }}</span></strong><br>
          <strong><span style="font-size: x-large;">A Pagar: ${{ valor_25_porcentaje }}</span></strong>
        </div>
    
        
        <div class="col-md-3 mb-3">
            <button type="submit" class="boton">Filtrar</button>
        </div>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Fecha y Hora</th>
          <th scope="col">Tipo</th>
          <th scope="col">Sector</th>
          <th scope="col">Dirección</th>
          <th scope="col">Celular</th>
          <th scope="col">Descripción</th>
          <th scope="col">Cliente</th>
          <th scope="col">$</th>
          <th scope="col">Repartidor</th>
        </tr>
      </thead>
      <tbody>
        {% for c in page_obj %}
        <tr>
          <td>{{ c.fecha_hora }}</td>
          <td>{{ c.tipo }}</td>
          <td>{{ c.ruta }}</td>
          <td>{{ c.direccion }}</td>
          <td>{{ c.celular }}</td>
          <td>{{ c.descripcion }}</td>
          <td>{{ c.User }}</td>
          <td>{{ c.ruta.valor }}</td>
          <td>{{ c.Repartidor }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Primera</a>
        <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Anterior</a>
      {% endif %}

      <span class="current-page">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente &rsaquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>


{% endblock contenido %}

