*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* container de los formularios */
#main_form{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container */

.container_reg {
    padding:2%;
    background: #fff;   
    margin: 2%;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
    
}

.contain_login{
    margin-top:12%;
    padding:2%;
    background: #fff;  
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
} 
/* Botones */

.boton
{
    background: #E74C3C;
    border: 0;
    padding: 6px 20px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    
}


