
#main_form{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    
}



.contain_login label, .contain_login h2,.contain_login input{
    font-size: 15px;
    justify-content: space-around;
    right: 10%;

}

.contain_login h2{
    text-align: center;
    font-size: 40px;
    
    
}
/* Container */

.container_reg {
    padding:2%;
    background: #fff;   
    margin: 2%;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
    
}

.contain_login{
    margin-top:12%;
    padding:2%;
    background: #fff;  
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
} 
/* Botones */

.boton
{
    background: #E74C3C;
    border: 0;
    padding: 6px 20px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    
}


.container_flex{
    text-align: center; 
    justify-content: center;
    justify-items: center;
    
}
.btn{
    margin: 0.5%;
}
.container{
    text-align: center;
    
}
.nav-wrapper {
    background-color:#DEDEDE;
}
.brand-logo{
    background-color:#DEDEDE;
    
}

.footer{
    width: 100vw;
    height:20vh ;
    background-color: #f50606;
}

.opciones{
    text-align: center;
    width: 20vw;
    height:70vh ;
    background-color: #DEDEDE;
}