
.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 12px;
}

.contain_login{
    display: flex;
    
}

.contain_login label, .contain_login h2,.contain_login input{
    font-size: 15px;
    justify-content: space-around;
    right: 10%;

}

.contain_login h2{
    text-align: center;
    font-size: 40px;
    
    
}

.container_reg {
    padding: 0%;
    margin: 0% ;
    display: flex;
    margin: 0%;
    
}

.logo{
    position: relative;
    justify-content: center;
    justify-items: center;
    text-align: center;
    top: 10%;

}

.container_flex{
    text-align: center; 
    justify-content: center;
    justify-items: center;
    
}
.btn{
    margin: 0.5%;
}
.container{
    text-align: center;
    
}
.nav-wrapper {
    background-color:#DEDEDE;
}
.brand-logo{
    background-color:#DEDEDE;
}

.container-footer{
    position: absolute;
    bottom: 0%;
    width: 100vw;
    height:20vh ;
    background-color: #DEDEDE;
}

