{% extends 'layout/base2.html' %}
{% load static %}


{% block contenido %}
<div class="contain_admin">
<h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque consequatur ducimus iusto sapiente cupiditate, suscipit optio est iure, numquam quisquam sed repellat pariatur similique provident, accusantium recusandae voluptatum. Ullam, praesentium!</h6>
<h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque consequatur ducimus iusto sapiente cupiditate, suscipit optio est iure, numquam quisquam sed repellat pariatur similique provident, accusantium recusandae voluptatum. Ullam, praesentium!</h6>
<h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque consequatur ducimus iusto sapiente cupiditate, suscipit optio est iure, numquam quisquam sed repellat pariatur similique provident, accusantium recusandae voluptatum. Ullam, praesentium!</h6>
<h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque consequatur ducimus iusto sapiente cupiditate, suscipit optio est iure, numquam quisquam sed repellat pariatur similique provident, accusantium recusandae voluptatum. Ullam, praesentium!</h6>
<h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque consequatur ducimus iusto sapiente cupiditate, suscipit optio est iure, numquam quisquam sed repellat pariatur similique provident, accusantium recusandae voluptatum. Ullam, praesentium!</h6>
<h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque consequatur ducimus iusto sapiente cupiditate, suscipit optio est iure, numquam quisquam sed repellat pariatur similique provident, accusantium recusandae voluptatum. Ullam, praesentium!</h6>
</div>
{% endblock contenido %}