{% extends 'layout\Diseño_admin\base_admin.html' %}
{% load static %}

{% block contenido %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
function mostrarSweetAlert(id) {
  Swal.fire({
    title: 'Elige una opción',
    showDenyButton: true,
    showCancelButton: true,
    confirmButtonText: `Asignar`,
    denyButtonText: `Cancelar`,
    cancelButtonText: `Eliminar`,
    customClass: {
        confirmButton: 'btn btn-primary mx-1',
        cancelButton: 'btn btn-danger mx-1',
        denyButton: 'btn btn-secondary mx-1',
    },
    buttonsStyling: false,
  }).then((result) => {
    /* Comprueba si se ha hecho clic en el botón de confirmación */
    if (result.isConfirmed) {
      /*window.location.href = 'https://ejemplo.com/opcion1';*/
        console.log("Click en Asignar" + id)
    } else if (result.isDenied) {
      /*window.location.href = 'https://ejemplo.com/opcion2';*/
        console.log("Click en Cancelar" + id)
    } else if (result.isDismissed) {
        Swal.fire({
          title: '¿Estás seguro de que quieres eliminar?',
          showDenyButton: true,
          showCancelButton: true,
          confirmButtonText: `Sí, eliminar`,
          denyButtonText: `Cancelar`,
          customClass: {
              confirmButton: 'btn btn-danger mx-1',
              denyButton: 'btn btn-secondary mx-1',
          },
          buttonsStyling: false,
        }).then((result) => {
          if (result.isConfirmed) {
            /*window.location.href = 'https://ejemplo.com/opcion3';*/
            console.log("Confirmado eliminar" + id)
          } else if (result.isDenied) {
            console.log("Cancelar eliminación" + id)
          }
        });
    } else {
      /*window.location.href = 'https://ejemplo.com/opcion4';*/
      console.log("Click en Salir" + id)
    }
  });
}
</script>



<div class="contain_admin">
    
  <div class="table-responsive">
    <table class="table table-striped">
      <h3>Pedidos Pendientes</h3>
      <thead>
        <tr>
          <th scope="col">Fecha y Hora</th>
          <th scope="col">Tipo</th>
          <th scope="col">Sector</th>
          <th scope="col">Dirección</th>
          <th scope="col">Celular</th>
          <th scope="col">Descripción</th>
          <th scope="col">Nombre</th>
          <th scope="col">$</th>
        </tr>
      </thead>
      <tbody>
        {% for c in servicios %}
        <tr>
          <td>{{ c.fecha_hora }}</td>
          <td><button class="btn btn-secondary" onclick="mostrarSweetAlert({{ c.id }})">{{ c.tipo }}</button></td>
          <td>{{ c.sector }}</td>
          <td>{{ c.direccion }}</td>
          <td>{{ c.celular }}</td>
          <td>{{ c.descripcion }}</td>
          <td>{{ c.User }}</td>
          <td>{{ c.ruta__transporte }}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>



{% endblock contenido %}

