{% extends 'layout\Diseño_admin\base_admin.html' %}
{% load static %}

{% block contenido %}

<div class="contain_admin">
<div class="table-responsive">
    <table class="table table-striped">
      <h3>PQRSF</h3>
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Asunto</th>
          <th scope="col">Mensaje</th>

        </tr>
      </thead>
      <tbody>
        {% for c in pqrs %}
        <tr>
          <td>{{ c.nombre }}</td>
          <td>{{ c.email }}</td>
          <td>{{ c.asunto}}</td>
          <td>{{ c.mensaje }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock contenido %}