{% extends 'layout/base2.html' %}
{% load static %}

{% block contenido %}
{% load static %}

 <!-- ======= Mobile nav toggle button ======= -->
 <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

 <!-- ======= Header ======= -->
 <header id="header">
   <div class="d-flex flex-column">

     <div class="profile">
       <img src="{% static 'img/alpus.jpeg' %}" alt="" class="img-fluid rounded-circle">
       <h1 class="text-light"><a href="index.html">GO! Domicilios</a></h1>
       <div class="social-links mt-3 text-center">
        <a href="https://www.facebook.com/gou.domicilos" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/gou.domicilios/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://wa.me/3242119191" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
       </div>
     </div>

     <nav id="navbar" class="nav-menu navbar">
       <ul>
         <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
         <li><a href="#" class="nav-link scrollto"><i class="bx bx-calendar-plus"></i> <span>Solicitar ajustes de mercado</span></a></li> 
         <li><a href="#" class="nav-link scrollto"><i class="bx bx-calendar-plus
          "></i> <span>Solicitar pago de facturas</span></a></li>
         <li><a href="#" class="nav-link scrollto"><i class="bx bx-calendar-plus"></i> <span>Solicitar transporte de encomiendas</span></a></li>
         <li><a href="{% url 'index' %}" class="nav-link scrollto"><i class="bx bx-exit"></i> <span>Cerrar Sesión</span></a></li>
       </ul>
     </nav><!-- .nav-menu -->
   </div>
 </header><!-- End Header -->
 
 


  
  {% endblock  %}

