{% extends 'layout/base.html' %}

{% load static %}

{% block 'title' %} Index{% endblock  %}


{% block header %}
<nav>
  <div class="nav-wrapper">
      <!-- <img src="{% static 'img/logo.png'%}"  alt="" class="brand-logo" > -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index" style="color: rgb(0, 0, 0);">Inicio</a></li>
        <li><a href="badges.html" style="color: black;">Nosotros</a></li>
        <li><a href="{% url 'logout' %}"  style="color: black;">Cerrar Sesión</a></li>
      </ul>
    </div>
  </nav>
  
  {% endblock  %}
  
  {% block aside %}
  <div class="opciones">
    <div class="row" >
      <div class="col-12">
        <h6><b>USUARIO</b></h6>
        <a class="btn-small red darken-3" href="{% url 'verU' %}" >Ver </a>
        <a class="btn-small red darken-3" href="{% url 'crearU' %}">Registrar </a>
        <h6><b>RUTA</b></h6>
        <a class="btn-small red darken-3" href="{% url 'verR' %}"> Ver </a>
        <a class="btn-small red darken-3" href="{% url 'crearR' %}">Registrar</a>
        <h6><b>PUBLICACIÓN</b></h6>
        <a class="btn-small red darken-3" href="{% url 'verP' %}">Ver </a>
        <a class="btn-small red darken-3" href="{% url 'Crearpublicacion' %}">Registrar</a>
        <h6><b>ROL</b></h6>
        <a class="btn-small red darken-3" href="{% url 'verRol' %}">Ver </a>
        <a class="btn-small red darken-3" href="{% url 'crearRol' %}">Registrar</a>
        <h6><b>SERVICIO</b></h6>
        <a class="btn-small red darken-3" href="{% url 'verS' %}">Ver </a>
        <a class="btn-small red darken-3" href="{% url 'crearS' %}">Registrar</a>
      </div>
    </div>
  </div>
  {% endblock %}
  
  {% block footer %}
  <div class="footer">
    <div class="row">

      
    </div>
  </div>
  {% endblock  %}